p {
    background-color: #a571a5;
}
.destaque::first-letter {
    font-size: 30px;
    background-color: #a571a5;
}
p::first-letter {
    font-size: 30px;
    background-color: purple;
}

div::first-line {
    color: blue;
}

LI {
    color: green;
}
::marker {
    color: red;
}

::selection {
    background: yellow;
    color: red;
}

div::selection {
    color: black;
    background-color: pink;
}